<a href="https://colab.research.google.com/github/leejulie09/projectmanager/blob/main/1_%E1%84%91%E1%85%A1%E1%84%8B%E1%85%B5%E1%84%8A%E1%85%A5%E1%86%AB%E1%84%80%E1%85%B5%E1%84%8E%E1%85%A9_02_%E1%84%8C%E1%85%A1%E1%84%85%E1%85%AD%E1%84%92%E1%85%A7%E1%86%BC%E1%84%80%E1%85%AA%E1%84%83%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%90%E1%85%A5%E1%84%91%E1%85%AD%E1%84%92%E1%85%A7%E1%86%AB_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 다지기

## 2 - 파이썬 자료형과 데이터 표현
파이썬의 다양한 데이터 타입과 다양한 연산자, 문자열

----------------------------------

## 2-1.파이썬 자료형(Data Type)

In [ ]:
d1=123
d2='123'
d3=[123]
d4=(123,)
d5={'key': 123}
d6={123}
d7=True
# d8=true

print(f'{d1}의 자료형: {type(d1)}')
print(f'{d2}의 자료형: {type(d2)}')
print(f'{d3}의 자료형: {type(d3)}')
print(f'{d4}의 자료형: {type(d4)}')
print(f'{d5}의 자료형: {type(d5)}')
print(f'{d6}의 자료형: {type(d6)}')
print(f'{d7}의 자료형: {type(d7)}')
# print(f'{d8}의 자료형: {type(d8)}')
#결과: NameError: name 'true' is not defined

123의 자료형: <class 'int'>
123의 자료형: <class 'str'>
[123]의 자료형: <class 'list'>
(123,)의 자료형: <class 'tuple'>
{'key': 123}의 자료형: <class 'dict'>
{123}의 자료형: <class 'set'>
True의 자료형: <class 'bool'>

### 수학 연산하기

In [ ]:

a = 10
b = 20
print(a+b, b-a, a/b, a%b, a**2, a**3)

30 10 0.5 10 100 1000

### [실습문제]
- 문제1: 10 + 3 x 4 결과 출력
- 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
- 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
- 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [ ]:
# 문제1: 10 + 3 x 4 결과 출력
# 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
# 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
# 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

#문제1
print("문제1:", 10+3*4)

#문제2
'''
%d에서의 d는 "decimal"의 약어로, 십진법(decimal) 정수를 나타내는 서식 지정자
%d는 문자열 내에서 각각 iphoneNumber, totalPrice, 그리고 iphoneNumber*totalPrice 값을 대체하는 역할
'''

iphoneNumber = 15
totalPrice = 1300000
print("문제2 %d:", "%d x %d = %d" % (iphoneNumber, totalPrice, iphoneNumber*totalPrice))
print("문제2 f str:"f"{iphoneNumber} x {totalPrice} = {iphoneNumber*totalPrice}")

#문제3
'''
나누기 2한 후
나머지 0 => 짝수
나머지 1 => 홀수
'''
import random
number = random.randint(1, 100)
if number % 2 == 0:
    print(number,"는 짝수")
else:
    print(number,"는 홀수")


#문제4
a = 2
b = 5
c = 3

print("문제3", (a**3)*(b**4)*(c**4))

문제1: 22
문제2 %d: 15 x 1300000 = 19500000
문제2 f str:15 x 1300000 = 19500000
65 는 홀수
문제3 405000

### 변수
데이터를 저장할 수 있는 공간

**변수 사용 시 주의사항**
- "첫 글자"는 영문, 혹은 _(언더바)로 시작할 것 (한글도 가능, 숫자는 불가능)
- 영문자, 한글, 숫자, _(언더바)만으로 구성할 것 (공백문자 불가)
- 대문자, 소문자 구분해서 사용할 것
- 예약어는 피할 것

### 파이썬 자료형

In [ ]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print(f'데이터 {d1}의 자료형: {type(d1)}')
print(f'데이터 {d2}의 자료형: {type(d2)}')
print(f'데이터 {d3}의 자료형: {type(d3)}')
print(f'데이터 {d4}의 자료형: {type(d4)}')
print(f'데이터 {d5}의 자료형: {type(d5)}')
print(f'데이터 {d6}의 자료형: {type(d6)}')
print(f'데이터 {d7}의 자료형: {type(d7)}')

데이터 123의 자료형: <class 'int'>
데이터 123의 자료형: <class 'str'>
데이터 [123]의 자료형: <class 'list'>
데이터 (123,)의 자료형: <class 'tuple'>
데이터 {'key': 123}의 자료형: <class 'dict'>
데이터 {123}의 자료형: <class 'set'>
데이터 True의 자료형: <class 'bool'>

### 표준 입력과 출력
- 키보드로부터 입력을 받는 함수( input() )을 표준 입력함수라 한다.
- 화면에 출력하는 함수( print() )를 표준 출력함수라 한다.

In [ ]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
a = input()
a = int(a)

# b = input("숫자를 입력하세요:")
# b = float(b)
b = float(input('숫자를 입력하세요:'))


# 표준 출력
print(f"변수 a의 값: {a}, {type(a)}")
print(f"변수 b의 값: {b}, {type(b)}")

24
숫자를 입력하세요:24
변수 a의 값: 24, <class 'int'>
변수 b의 값: 24.0, <class 'float'>

In [ ]:
#자동 줄바꿈
print()
#정수
print(int(3.14))
#실수
print(float(3))

3
3.0

#### 문자열 데이터를 숫자(정수)로 변환하기

In [ ]:
# 문자열 데이터를 숫자(정수)로 변환하기

#### 다양한 변수 출력 방법

In [ ]:
a = input('키보드로 숫자를 입력해 주세요 ')

print('변수 a에 기억된 값은', a, '입니다')
print('변수 a에 기억된 값은 %s 입니다'%a)
#%s 문자열, %d 정수, %f 실수
print(f'변수 a에 기억된 값은 {a} 입니다')

키보드로 숫자를 입력해 주세요 200
변수 a에 기억된 값은 200 입니다
변수 a에 기억된 값은 200 입니다
변수 a에 기억된 값은 200 입니다

### [실습문제] : 계산기 프로그램 만들기
정수 2개를 키보드로 각각 입력 받아 아래와 같이 덧셈, 뺄셈, 곱셈, 몫, 나머지를


출력하는 프로그램을 만들어 보세요.

In [ ]:
num1 = int(input("첫번째 숫자: "))
num2 = int(input("두번째 숫자: "))

print('-'*50)

print('덧셈: %d +%d = %d' % (num1, num2, num1+num2))
print('뺄셈: %d -%d = %d' % (num1, num2, num1-num2))
print('곱셈: %d *%d = %d' % (num1, num2, num1*num2))
print('몫: %d //%d = %d' % (num1, num2, num1//num2))
print('나눗셈: %d / %d = %f' % (num1, num2, num1/num2))

첫번째 숫자: 100
두번째 숫자: 2
--------------------------------------------------
덧셈: 100 +2 = 102
뺄셈: 100 -2 = 98
곱셈: 100 *2 = 200
몫: 100 //2 = 50
나눗셈: 100 / 2 = 50.000000

- f'string' 함수를 이용해 출력하기

In [ ]:


num1 = int(input("첫번째 숫자: "))
num2 = int(input("두번째 숫자: "))

print('-'*50)
# f-string은 %d보다 데이터 형태를 구분 안해서 좋음
print(f'덧셈: {num1} +{num2} = {num1+num2}' )
print(f'뺄셈: {num1} -{num2} = {num1-num2}')
print(f'곱셈: {num1} *{num2} = {num1*num2}' )
print(f'나눗셈: {num1} / {num2} = {num1/num2:.2f}')

첫번째 숫자: 20
두번째 숫자: 5
--------------------------------------------------
덧셈: 20 +5 = 25
뺄셈: 20 -5 = 15
곱셈: 20 *5 = 100
나눗셈: 20 / 5 = 4.00

### [실습문제] : 시간 계산 프로그램
속력과 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요!
- 시간 = 거리 / 속력

In [ ]:
velocity = input('속력를 입력해 주세요(km/h) : ')
distance = input('거리를 입력해 주세요(km) : ')

print("-"*50)

print(f"속력: {velocity}")
print(f"거리: {distance}")

print(f"{distance}/{velocity}")
#여기가 틀렸음 '/'가 문자열로 인식되니까 계산을 안함 =>문자열도 계산하려면 eval()함수 사용
print(f"시간 = {distance}/{velocity}")

#정답
print("=====정답======")
velocity = float(input('속력를 입력해 주세요(km/h) : ') )
distance = float(input('거리를 입력해 주세요(km) : '))
print("-"*50)
print(f"속력: {velocity}km/h")
print(f"거리: {distance}km/h")
print(f"시간: {distance/velocity}km/h")

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
--------------------------------------------------
속력: 100
거리: 340
340/100
시간 = 340/100
정답===========
속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
--------------------------------------------------
속력: 100.0km/h
거리: 340.0km/h
시간: 3.4km/h

- eval()함수 사용하여 문자열을 계산할 수 있다

In [ ]:
# eval()함수 사용
print(eval("20-10"))
print("20-10")

velocity = input('속력를 입력해 주세요(km/h) : ')
distance = input('거리를 입력해 주세요(km) : ')
time=eval(f"{distance}/{velocity}")
print("시간:",time)

10
20-10
속력를 입력해 주세요(km/h) : 10
거리를 입력해 주세요(km) : 20
시간: 2.0

### 내장 수학 함수
- 파이썬 내장 함수 https://docs.python.org/ko/3.10/library/functions.html

In [ ]:
import math

a = -3.14


print(f'원주율: {math.pi}')
print(f'절대값: {abs(a)}')
print(f'반올림: {round(a)}')
print(f'올림  : {math.ceil(a)}')
print(f'내림  : {math.floor(a)}')
# **랑 동일
print(2**8)
print(f'제곱(pow)  : {math.pow(2, 8)}')
print(f'제곱근: {math.sqrt(4)}')
#square root
print(f'로그  : {math.log(10)}')

원주율: 3.141592653589793
절대값: 3.14
반올림: -3
올림  : -3
내림  : -4
256
제곱  : 256.0
제곱근: 2.0
로그  : 2.302585092994046

### [실습문제]: 수학 함수 사용하여 계산하기
- 문제1: 반지름이 4인 원의 넓이 출력
- 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
- 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력

In [ ]:
# 문제1: 반지름이 4인 원의 넓이 출력
#원의 넓이 = 파이*r2
import math
radius = 4
print(f"원의 넓이: {math.pi*math.pow(radius, 2)}")

#정답
print(math.pi* 4**2)

# 문제2: 3.14 곱하기 2 나누기 7의 값을 반올림하여 계산 결과 출력
print(f"반올림 값: {round(3.14*2/7)}")
#정답
print(round(3.14*2/7))

# 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
#C=2πr

import math
pi = math.pi
print(f"{pi:.2f}")


import math
print(f'{math.pi:.2f}')
radius = 4
print(f"원의 둘레: {2*pi*radius}")

#정답
print(round(3.14*2/7))

원의 넓이: 50.26548245743669
50.26548245743669
반올림 값: 1
1
3.14
3.14
원의 둘레: 25.132741228718345
1

In [ ]:
'''아래와 같이 정수 a를 입력받아, a+aa+aaa의 결과 값을 구하는 프로그램을 작성하세요'''

# a = input("정수를 입력하세요: ")
print(f"{a+int(a+a)+int(a+a+a)}")

# a = input("정수를 입력하세요: ")
print(f"{a+eval("a""a")+eval("a""a""a")}")
#변수와 문자열을 혼합하여 사용할 때 변수를 올바르게 처리하지 않고 있다

'''문자열의 사용:

"a""a"나 "a""a""a"와 같은 방식으로 문자열을 처리하려고 하지 말고, "aa"나 "aaa"와 같이 문자열을 간단히 표현하세요.
수식과 문자열의 혼합:

eval() 함수를 사용하지 않아도 됩니다. 이미 a, a + a, a + a + a는 숫자로 변환한 값으로 계산하면 되기 때문에 eval() 함수를 사용할 필요가 없습니다.
f-string의 사용:

f-string을 사용하여 문자열을 포맷팅하려면 중괄호 안에 변수나 표현식을 넣어야 합니다. 코드의 형태가 올바르지 않습니다.
위 코드는 입력된 정수 a에 대해 a + aa + aaa의 결과 값을 계산하고 출력하는 프로그램입니다. 이 코드는 eval() 함수 없이도 원하는 결과를 얻을 수 있습니다.'''

#input에 들어가는 건 다 문자열! 그래서 다 int로 바꿔야함

#정답
a = input("정수를 입력하세요: ")
print(f"{int(a)+int(a+a)+int(a+a+a)}")
print(eval(a + "+" + a + a + "+" + a + a + a))

#변수니까 ""로 감싸지 말고, f-string안에서 {}로 감싸야한다
result = f"{a}+{a*2}+{a*3}"
print(result)
print(eval(result))
print(f"{result} = {eval(result)}")

#숫자로 사용하는 방법(최적화)
a=int(input())
print(f'정수를 입력하세요:{a}')
print(f'{a}+{11*a}+{111+a}={111*a}')

615
5+55+555
615
5+55+555 = 615

In [ ]:
print("%d/%d=%d" % (100,200,0.5))
print("%d/%d=%f" % (100,200,0.5))

100/200=0
100/200=0.500000

In [ ]:
print("%d"%123)
print("%5d"%123)
'''"%05d"는 총 5개의 문자 공간을 할당하고, 정수 값을 표현하는 포맷 문자입니다.
%05d에서 5는 총 문자 폭을 의미하고, 0은 빈 공간을 0으로 채워서 출력하도록 지시합니다.'''
print("%05d"%123)

print("-"*50)

print("%f"%123.45)

'''"%7.1f"는 총 7개의 문자 공간을 할당하고,
그 중 소수점 아래 1자리까지 표현하는 포맷 문자입니다.'''
print("%7.1f"%123.45)
print("%07.1f"%123.45)
print("%7.3f"%123.45)

print("-"*50)

print("%s"%"Python")
print("%10s"%"Python")

123
  123
00123
--------------------------------------------------
123.450000
  123.5
00123.5
123.450
--------------------------------------------------
Python
    Python
    Python

In [ ]:
print("%d, %5d, %05d" % (123,123,123))
print("{0:d}{1:5d}{2:05d}".format(123,123,123))
'''{0:d}는 첫 번째 값(인덱스 0)을 정수 값으로 표현하라는 것을 의미하며,
{1:5d}는 두 번째 값(인덱스 1)을 총 5개의 문자 공간을 할당하고
오른쪽 정렬된 정수 값으로,
{2:05d}는 세 번째 값(인덱스 2)을 총 5개의 문자 공간을 할당하고
나머지 공간을 0으로 채운 오른쪽 정렬된 정수 값으로 표현합니다.'''

print(f"{123}, {123:5}, {123:0>5}")
'''
:5는 총 5개의 문자 공간을 할당하고, 오른쪽 정렬된 값
:0>5는 총 5개의 문자 공간을 할당하고,
나머지 공간을 0으로 채워서 오른쪽 정렬된 값을 출력하라는 의미입니다.
'''

print("-"*50)
print(f"{123:10}")
print(f"{123:^10}")
print(f"{123:>10}")
print(f"{123:<10}")

123,   123, 00123
123  12300123
123,   123, 00123
--------------------------------------------------
       123
   123
       123
123

In [ ]:
a = input()

print("-"*50)
print(a)
print(int(a))
print(type(a))
print(type(int(a)))

5
--------------------------------------------------
5
5
<class 'str'>
<class 'int'>

---------------------------

## 2-2.문자와 문자열

#### 문자와 문자열 변환

In [6]:
# 문자 --> 숫자(정수) 로 변환 : ord() 함수 사용
print( ord('A') )
print(ord('a'))
print( ord('!') )
print( ord('가') )
print( ord('나') )

65
97
33
44032
45208

TypeError: ignored

In [5]:
# 숫자(정수) --> 문자 로 변환 : chr() 함수 사용
print( chr(65) )
print(chr(67))
print( chr(66) )
print( chr(97) )
print( chr(98) )
print( chr(44032) )
print( chr(44033) )

A
C
B
a
b
가
각

In [ ]:
#정수->이진수 변환: bin() : 정수를 “0b” 가 앞에 붙은 이진 문자열로 변환합니다.
print(bin(65))
print(bin(ord('파')))
# print(bin("파"))
#결과값: TypeError: 'str' object cannot be interpreted as an integer

0b1000001
0b1101001100001100
1101001100001100  1100011101110100  1100001101101100

In [10]:
# 문자 --> 숫자 --> 이진수 로 변환
for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print( 이진수변환, end = ' ')  # 한 줄로 표현하기

1101001100001100  1100011101110100  1100001101101100  --------------------------------------------------
0b1101001100001100 0b1100011101110100 0b1100001101101100

In [11]:
for c in '파이썬':
    # 이진수에서 앞'0b'를 없애기 위해 format() 함수 사용할 수 있다. format함수가 0b를 없애줌
    print( format(ord(c), 'b'), end = ' ')  # 한 줄로 표현하기

1101001100001100 1100011101110100 1100001101101100

### 문자열 따옴표로 지정

#### 큰 따옴표  or 작은 따옴표로 지정한다

In [15]:
print('Hello')
print("Hello")
print("Hello 'world")
print('Hello "world')
print(' "Yes, I can!" ')
#앞에 \역신호 넣으면 escape
print(" \"Yes, I can!\" ")

SyntaxError: ignored

#### 따옴표 세 개 사용 : 여러 줄로 표현할 때

In [17]:
a = '''박씨가 소리질렀다.
도둑이야!'''
print(a)

박씨가 소리질렀다.
도둑이야!

In [19]:
a = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(a)

OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원

### [실습] 주문받아 출력하기

In [21]:
# 주문받아 출력하기

#tts기능 (윈도우)
# import win32com.client
# excel = win32com.client.Dispatch("Excel.Application")
# excel.Visible = True

menu = a
print('카페주문 프로그램입니다')
print('-'*50)
print(menu)
print('-'*50)
coffee = input('주문하실 음료를 입력하세요: ')
print(f'주문하신 음료 {coffee}가 나왔습니다. 맛있게드세요')

카페주문 프로그램입니다
--------------------------------------------------
OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원
--------------------------------------------------
주문하실 음료를 입력하세요: 카페라테
주문하신 음료 카페라테가 나왔습니다. 맛있게드세요

### 문자열 연산
- (+): 문자열 연결하기

In [22]:
print('안녕하세요'+'이수연님')
print('안녕하세요','이수연님')

안녕하세요이수연님
안녕하세요 이수연님

- (*) : 반복의 의미

In [24]:
print("조은별"*3)
print("-"*3)

조은별조은별조은별
---

### [실습문제] 문자열 출력하기
- 문제1: 화면에   Mary’s cosmetics   출력
- 문제2: 화면에  박씨가 소리질렀다. “도둑이야!”.  출력
- 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기 <br>
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

In [28]:

# 문제1: 화면에 Mary’s cosmetics 출력
print('Mary’s cosmetics')
# 문제2: 화면에 박씨가 소리질렀다. “도둑이야!”. 출력
print('화면에 박씨가 소리질렀다. “도둑이야!”.')
# 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기
print("안녕하세요.\n\n오늘\t날씨가\t\t좋습니다.")

Mary’s cosmetics
화면에 박씨가 소리질렀다. “도둑이야!”.
안녕하세요.

오늘	날씨가		좋습니다.

-------------------

## 2-3.문자열 인덱싱과 슬라이싱

In [36]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
print( a[0])
print( a[-1])
print( a[-1:-7])
print('-'*30)
print(a[0:3])
print(a[0:3:1])
print(a[0:3:2])
print(a[2:13:4])
print('-'*30)
print(a[:3])
print(a[:])

우
.

------------------------------
우리는
우리는
우는
는중역
------------------------------
우리는
우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.

In [ ]:
fruits = 'orange'
print( )

---------------------------

In [37]:
print('%-10s파이썬'%'사랑해요')
print('%0.4f'%3.41234445)
print('%10.4f'%3.41234445)

사랑해요      파이썬
3.4123
    3.4123

In [53]:
#문자열 함수
# count
a = 'hobby'
print(a.count('b'))
print('-'*50)

article = '''
기상청에 따르면 전국은 대체로 서해상에 위치한 고기압의 가장자리에 들어 구름이 하늘을 보이겠다. 또한 체감온도 33도를 넘는 무더위 역시 예고돼 있다.
동해안 일부 지역은 이날 오전부터 다음날 사이에 일본 규슈 부근에서 북동쪽으로 이동하는 기압골의 영향을 받아 비가 내리겠다. 대기 불안정으로 서울·경기 내륙 지역과 강원 내륙 지역, 충청권, 전남권, 전북 동부 지역, 경북권, 경남 내륙 지역, 제주도에는 한때 천둥, 번개와 우박을 동반한 소나기가 내리겠다.
'''
print(article.count('지역'))

# find: 처음나온 위치(인덱스)
print('-'*50)
print(article.find('지역'))
print(article.find('이주리'))
#-1

# index
print('-'*50)
print(article.index('지역'))
# print(article.index('이주리')) ValueError: substring not found

2
--------------------------------------------------
5
--------------------------------------------------
93
-1
--------------------------------------------------
93

In [54]:
# 문자열 관련 함수

s=input('문자열을 입력하세요: ')
#처음부터 끝까지 -1증감분
print(s[::-1])

문자열을 입력하세요: 하이루!
!루이하

In [61]:
#split, .을 기준으로 list형식으로 나옴
a = 'test.py'
print(a.split('.'))

b=a.split('.')
print(f'파일명:{b[0]}, 확장자:{b[1]}')


#replace
a = 'test.py'
print(a.replace('.','!'))

['test', 'py']
파일명:test, 확장자:py
test!py

## 2-4.변수 활용

### [실습문제]: 지불할 음식 총 가격 계산하기
- 음식가격:  4,450 원
- 세금: 6.75%
- 팁: 15%
1. meal 변수를 선언하고 값을 4450으로 지정하세요.
2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
5. 음식값에 tip을 더해 total 변수에 지정하세요.
6. total 변수 값을 출력하세요.

In [66]:
# meal 변수를 선언하고 값을 4450으로 지정하세요.
# tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
# tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁


# meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
# 음식값에 tip을 더해 total 변수에 지정하세요. (tip을 원가격에서 계산하는게 아니라 세금 뗀 가격에서 계산해야함)
total = meal + (meal*tax) + (meal*tip)
# total 변수 값을 출력하세요.
print(total)
print('-'*30)

#정답
meal = meal + (meal * tax)
total = meal + (meal * tip)
print(total)

5417.875
------------------------------
5462.93125

### [실습문제]: 섭씨온도를 화씨온도로 변환하기
- 섭씨 온도 (Celsius): 1 atm에서의 물의 어는점을 0도, 끓는점을 100도로 정한 온도 체계. (°C)


- 화씨 온도 (Fahrenheit): 물이 어는 온도는 32도, 물이 끓는 온도는 212도. 180등분. (°F)
- 섭씨온도(℃) = (5 / 9) × (℉ - 32)  # Celsius
- 화씨온도(℉) = (9 / 5) × ℃ + 32    # Fahrenheit

In [ ]:
c_temp = input()
#키보드로부터 입력을 받는 함수: input()
c_temp = int(c_temp)
# 정수로 변환: int()
print(c_temp, type(c_temp) )

#화씨
f_temp = (9/5)*c_temp+32
print(f_temp)

#정답
c_temp = float(input('온도를 입력해 주세요(화씨): '))
f_temp = (9 / 5) * c_temp + 32
print(f'화씨 온도 {c_temp}℃를 섭씨 온도로 변환하면 {f_temp}℉!')

-------

## 2-5.연산자

### [실습문제]: 동전 교환 프로그램 만들기

In [72]:
a = 10
a += 3
print(a)  # 13 출력

a -= 3
print(a)  # 10 출력

13
10

In [ ]:
#논리연산자: and, or, not
(a>100)and(a<200)
(a==100)and(a==200)
not(a<100)

In [75]:
#맴버쉽 연산자: in, not in
a='python'
'p' in a
's' in a
'p' not in a

False

In [85]:
# 키보드로부터 금액 입력 받기
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')
#큰단위로 계산

# print(f'500원짜리 =>{money // 500}개')
# money=money//500
# print(f'100원짜리 =>{money // 100}개')
# money//100
# print(f'50원짜리 =>{money // 50}개')
# money//50
# print(f'10원짜리 =>{money // 10}개')
# money%10
# print(f'잔돈=>{money}원')

#정답 =>나중에 반복문으로 변화 가능
print(f"500원짜리 ==> {money // 500}개")
money %= 500
print(f"100원짜리 ==> {money // 100}개")
money %= 100
print(f"50원짜리 ==> {money // 50}개")
money %= 50
print(f"10원짜리 ==> {money // 10}개")
money %= 10
print(f"잔돈 ==> {money}원")

---동전교환기 프로그램을 작동합니다.---
금액을 입력하세요: 5420
동전으로 교환하겠습니다.---------
500원짜리 ==> 10개
100원짜리 ==> 4개
50원짜리 ==> 0개
10원짜리 ==> 2개
잔돈 ==> 0원

-----------------------------------------

## 2-6.리스트(List)
- 리스트는 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 데이터 구조
- 리스트는 순서(인덱스)가 있고 데이터를 수정, 삭제, 추가 가능하다.
- 대괄호로 표현되고 내부 원소는 ,(쉼표)로 구분됨

### 리스트 생성

In [90]:
a = list()
a = []
a = [1,2,3]
a = ['I', 'Love', 'Python']
b = [1,2, '사랑해요', 'Python']
b = ['a', '1', 1, [2,3], -4]
a = [1,2,['a','b',['사랑해', '파이썬']], 3]

In [92]:
#변수는 맨 마지막에 있는거 1개가 담긴다
print(a)
print(b)

[1, 2, ['a', 'b', ['사랑해', '파이썬']], 3]
['a', '1', 1, [2, 3], -4]

In [96]:
range(10)
print(range(10))
print(list(range(10)))

#문자열을 리스트로 만들기
a='python'
list(a)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

['p', 'y', 't', 'h', 'o', 'n']

In [103]:
article = '''오늘 남부지방과 제주도는 대체로 흐린 가운데 비가 내리겠습니다.
예상 강수량은 영남 해안 지역이 30에서 80mm, 많은 곳은 100mm 이상이고, 그 밖의 남부지방과 제주도는 10에서 60mm입니다.
비가 오는 동안 천둥·번개가 치고, 한 시간에 30mm가 넘는 강한 비가 쏟아지는 곳이 있겠습니다.
남부지방과 제주도의 비는 내일 오전까지 계속되는 곳이 있겠습니다.
오늘 중부지방은 가끔 구름이 많이 끼는 가운데 오후에 5에서 30mm의 소나기가 오는 곳이 있겠습니다.
낮 최고기온은 서울 33도 등 전국이 26도에서 34도로 어제와 비슷하거나 조금 더 높겠습니다.
바다의 물결은 남해 먼바다와 제주도 해상에서 최고 2.5m로 비교적 높게 일겠습니다.
동해안과 경남 남해안에는 높은 너울이 밀려오는 곳이 있겠고, 동해상에는 짙은 안개가 끼는 곳이 있겠습니다.
'''

# list(article)
article = article.replace('남부', '중부').replace('제주도','독도')
words = article.split(' ')
print(f'리스트의 요소 개수(길이): {len(words)}')
print(words)

리스트의 요소 개수(길이): 92
['오늘', '중부지방과', '독도는', '대체로', '흐린', '가운데', '비가', '내리겠습니다.\n예상', '강수량은', '영남', '해안', '지역이', '30에서', '80mm,', '많은', '곳은', '100mm', '이상이고,', '그', '밖의', '중부지방과', '독도는', '10에서', '60mm입니다.\n비가', '오는', '동안', '천둥·번개가', '치고,', '한', '시간에', '30mm가', '넘는', '강한', '비가', '쏟아지는', '곳이', '있겠습니다.\n중부지방과', '독도의', '비는', '내일', '오전까지', '계속되는', '곳이', '있겠습니다.\n오늘', '중부지방은', '가끔', '구름이', '많이', '끼는', '가운데', '오후에', '5에서', '30mm의', '소나기가', '오는', '곳이', '있겠습니다.\n낮', '최고기온은', '서울', '33도', '등', '전국이', '26도에서', '34도로', '어제와', '비슷하거나', '조금', '더', '높겠습니다.\n바다의', '물결은', '남해', '먼바다와', '독도', '해상에서', '최고', '2.5m로', '비교적', '높게', '일겠습니다.\n동해안과', '경남', '남해안에는', '높은', '너울이', '밀려오는', '곳이', '있겠고,', '동해상에는', '짙은', '안개가', '끼는', '곳이', '있겠습니다.\n']

In [89]:
num=list()
for i in range(1,21,2):
  num.append(i)
  print(num)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1, 3, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 3, 5, 7, 9, 11, 13, 15, 17]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 리스트 전체 삭제

In [105]:
a=[1,2,3]
b=[4,5,6]

del(b)

print(a)
# print(b) #NameError: name 'b' is not defined

[1, 2, 3]

### 리스트 요소에 접근

In [107]:
colors=['purple' ,'mint',['black', 'white'], 'red', 'green']
print( colors[1] )
print( colors[2] )
print( colors[2][1] )

mint
['black', 'white']
white

### 리스트 요소 추가 / 변경

In [113]:
colors=['purple' ,'mint',['black', 'white'], 'red', 'green']

print(colors)
colors.append('봄')     # 리스트 맨 끝에 추가 / JS에 push와 유사
print(colors)
colors.insert(1, '봄')  # 리스트명.insert(인덱스위치, 값) / JS에 splice와 유사 array.splice(startIndex, 0, item1, item2, ...);
print(colors)
colors[2].insert(1,'여름') # 원 데이터를 변경하는 것
print(colors)

['purple', 'mint', ['black', '여름', 'white'], 'red', 'green']

In [118]:
#리스트 요소 변경
colors[1] = 'light green' #해당 위치에 값을 대입
print(colors)
colors[2][0] = 'gray'
print(colors)

#슬라이싱
colors[3:] = 'yellow'
print(colors)

['purple', 'light green', ['gray', 'gray', 'white'], 'red', 'green']
['purple', 'light green', ['gray', 'gray', 'white'], 'red', 'green']
['purple', 'light green', ['gray', 'gray', 'white'], 'y', 'e', 'l', 'l', 'o', 'w']

### 리스트 요소 삭제

In [126]:
colors=['purple' ,'mint',['black', 'white'], 'red', 'green']

print(colors)
colors.pop()     # 리스트 맨 끝 요소 삭제
print(colors)
colors.remove('purple')  # 리스트명.remove(값), 단 여러 개 일 경우 첫 번째 값만 삭제됨
print(colors)
colors.remove(colors[1])
print(colors)

del colors[3] #특정위치 요소 제거
print(colors)

for _ in range(-1,-3,-1):
  colors.pop()
  print(colors)
  '''
  for 루프가 시작됩니다.
  range(-1, -3, -1)은 -1부터 시작하여 -3 전까지 감소하는 범위를 나타냅니다.
  즉, -1, -2 두 숫자가 반복됩니다.
  '''

['purple', 'mint', ['black', 'white'], 'red', 'green']
['purple', 'mint', ['black', 'white'], 'red']
['mint', ['black', 'white'], 'red']
['mint', 'red']
['mint']
[]

In [129]:
list(range(-1,-5,-1)) #반복문에서 loop돌리는거랑 비슷 i=-1, (++i)
list(range(-1,-10,-2))

'''Javascript
let result = [];
for (let i = -1; i > -10; i -= 2) {
    result.push(i);
}
'''

[-1, -3, -5, -7, -9]

###2차원 리스트

In [ ]:
numbers = [[10,20,30], [40,50,60,70]]
print (numbers[0])
print (numbers [1])
print (numbers[0][2])
print(numbers[1][2])
#슬라이싱
print (numbers [1][0:3])

In [142]:
#임의의 수 생성해서 리스트 만들고 정렬하기
import random

numbers=[]
numbers=list()

#1~100까지 정수중에 임의로 하나 뽑기
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
print(f'정렬 전: {numbers}')


#정렬하기
numbers.sort()
print(f'오름차순 정렬 후: {numbers}')

numbers.reverse()
print(f'내림차순 정렬 후: {numbers}')

정렬 전: [41, 96, 25, 87, 87]
정렬 후: [25, 41, 87, 87, 96]
내림차후 정렬 후: [96, 87, 87, 41, 25]

## 2-7.딕셔너리(Dictionary)
- 딕셔너리는 쌍이 하나로 묶인 자료구조
- 인덱스를 의미하는 ‘키(key)'와 자료의 내용인 ‘ 값(value)'을 이용하여  데이터를 관리
- 중괄호 { }로 묶어 구성, 키(Key)와 값(Value)의 쌍으로 구성
- 순서(sequence)가 없다

### 딕셔너리 생성

In [149]:
members={}
members=dict()
print(type(members),members)

members = {'name':'진', 'age':29, 'email':'jin@gggmail.com'}
print(type(members),members)
print(members['name'])
print(members['age'])

members[7] = ['정국','뷔','지민'] #새로운 키(key):값(value) 추가
print(members)

members['name']='이주리'
print(members)

<class 'dict'> {}
<class 'dict'> {'name': '진', 'age': 29, 'email': 'jin@gggmail.com'}
진
29
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com', 7: ['정국', '뷔', '지민']}
{'name': '이주리', 'age': 29, 'email': 'jin@gggmail.com', 7: ['정국', '뷔', '지민']}

### 딕셔너리 키(key)와 값(value)에 접근하기

In [154]:
scores = {'국어': 100, '수학': 90, '영어': 80}

print(scores['국어'])  # 딕셔너리는 키로 접근한다.

# 방법1
print('---방법1---')
for key in scores:
    # print('%s => %s' % (key, scores[key]))
    print(f'{key}=>{scores[key]}')

print(scores.items()) #dict_items([('국어', 100), ('수학', 90), ('영어', 80)]) 튜플형태

# 방법2
print('---방법2---')
for key, value in scores.items():
    print('%s => %s' % (key, value))

100
---방법1---
국어=>100
수학=>90
영어=>80
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])

In [155]:
print(scores.keys())   # key만 추출 리스트 형태로 반환
print(scores.values()) # value만 추출 리스트 형태로 반환
print(scores.items())  # (키,값)쌍 형태로 추출 리스트 형태로 반환

dict_keys(['국어', '수학', '영어'])
dict_values([100, 90, 80])
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])

### 딕셔너리에 요소 추가/수정/삭제

In [160]:
#key값은 항상 unique해야함, 인터넷 JSON이 다 이렇게 돼있음

scores = {'국어': 100, '수학': 90, '영어': 80}
print(scores)

# 키로 요소 추가하기
scores['music'] = 100
print(scores)

# 요소 값 수정하기
scores['수학'] = 99
print(scores)

# 요소 삭제하기

del scores['영어']
print(scores)
del (scores['국어'], scores['수학'])
print(scores)

{'국어': 100, '수학': 90, '영어': 80}
{'국어': 100, '수학': 90, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, 'music': 100}
{'music': 100}

In [171]:
#튜플 :튜플은 요소들의 수정과 추가가 불가하다
a=tuple()
a=()
print(type(a), a)

a=(1)
print(type(a), a) #Integer
a=(1,) #튜플에 요소 1개를 정의할 때는 반드시 , 사용
print(type(a), a)

a=('a','b','c', 4, 5)
print(type(a))

print(a[3]) #index, slicing은 먹힘
print(a[:3])
# a[3]=44 #TypeError: 'tuple' object does not support item assignment

#집합(set) - 중복 배제!!
mySet1={1,2,3,3,3,3,4,5}
print(mySet1)

a=set() #딕셔너리랑 겹치기 때문에 빈 집합은 이렇게만 만들수있음
a=set([1,2,3])
a={1,2,3}
a=set("hello") #{'o', 'h', 'l', 'e'}
print(a)

fruits=['apple', 'banana', 'orange','grape']
a = set(fruits)
print(type(a),a)

a = list(set(fruits))
a.sort()
print(type(a),a)

<class 'tuple'> ()
<class 'int'> 1
<class 'tuple'> (1,)
<class 'tuple'>
4
('a', 'b', 'c')
{1, 2, 3, 4, 5}
{'o', 'h', 'l', 'e'}
<class 'set'> {'grape', 'orange', 'apple', 'banana'}
<class 'list'> ['apple', 'banana', 'grape', 'orange']

In [174]:
# help(tuple)
# help(list)
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

------------------------

끝